  <div class="row">
      <form class="col-12 col-sm-12 col-md-12 col-lg-12" (ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
          <input #email placeholder="Mail" class="form-control" type="email" id="log_email" name="email" ngModel>
        </div>
        <div class="form-group">
          <input #pw placeholder="Password" class="form-control" type="password" id="log_password" name="password" ngModel>
        </div>
        <button class="button btn primary-color-dark"
                value="Login"
                type="submit">Login</button>
      </form>
  </div>
  <br>
  <div class="row">
    <div *ngIf="loginSuccessful" class="animated pulse col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-success">
        <strong>Success: </strong> Login was successful.
      </div>
    </div>
    <div *ngIf="errorMsg !== ''" class="animated flash col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="alert alert-danger">
        <strong>Error: </strong> {{errorMsg}}
      </div>
    </div>
  </div>
