<div class="row">
  <div class="col-sm-2 col-md-3 col-lg-4">
  </div>
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <form [formGroup]="radioGroupForm">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
        <label ngbButtonLabel class="col-4 btn btn-primary primary-color-dark">
          <input (click)="toggleView('register')" ngbButton type="radio" value="registerWarehouse">
          <i class="fa fa-plus-square fa-5x" aria-hidden="true"></i>
          <br><br>
          Register Warehouse
        </label>
        <label ngbButtonLabel class="col-4 btn btn-primary primary-color-dark">
          <input (click)="toggleView('warehouses')" ngbButton type="radio" value="warehouseList">
          <i class="fa fa-industry fa-3x" aria-hidden="true"></i>
          <br><br>
          Warehouses
        </label>
        <label ngbButtonLabel class="col-4 btn btn-primary primary-color-dark">
          <input (click)="toggleView('trucks')" ngbButton type="radio" value="truckList">
          <i class="fa fa-truck fa-lg" aria-hidden="true"></i>
          <br><br>
          Deliveries
        </label>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-md-3 col-lg-4">
  </div>
</div>
<br><br>
<div *ngIf="selectedView === 'registerWarehouse'">
  <div class="row animated fadeIn">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10">
      <div class="form-group">
        <input #search  placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" [formControl]="searchControl">
      </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <input #wh id="input_wh" placeholder="Warehouse ID" type="text">
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
      <input #lat id="input_lat" placeholder="Latitude" type="number" value={{latitude}} class="">
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
      <input #lon id="input_lon" placeholder="Longitude" type="number" value={{longitude}} class="">
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
      <input #free id="input_free" placeholder="Free Space" type="number" class="">
    </div>
    <div class="col-6 col-sm-6 col-md-2 col-lg-2">
      <input #used id="input_used" placeholder="Used Space" type="number" class="">
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-2">
      <input id="addWarehouse"
             class="btn primary-color-dark"
             value="Add Warehouse"
             type="submit"
             (click)="addNewWarehouse(wh.value, lat.value, lon.value, free.value, used.value)">
    </div>
  </div>
</div>
<div *ngIf="selectedView === 'warehouseList'">
  <div class="row animated fadeIn">
    <table class="table" id="warehouses">
      <thead>
      <tr>
        <th id="warehouse" class="primary-color-dark">Warehouse</th>
        <th id="location" class="primary-color-dark">Location</th>
        <th #capacityCol id="capacity" class="primary-color-dark"
            (window:resize)="onResize($event)">Capacity</th>
        <th id="partition" class="primary-color-dark">Partitioning</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let warehouse of warehouses" (click)="rowSelected(warehouse)">
        <td>{{warehouse.name}}</td>
        <td>{{warehouse.lat}} , {{warehouse.lon}}</td>
        <td>{{warehouse.getCapacity().total}}</td>
        <td>
          <app-warehouse (barIsLoaded)="onResize()" [barSize]="barColWidth" [warehouse]="warehouse"></app-warehouse>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="selectedView === 'truckList'">
  <div class="row animated fadeIn">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <app-trucks></app-trucks>
    </div>
  </div>
</div>
<br>
