 <mdb-navbar SideClass="navbar navbar-expand-md navbar-expand-lg navbar-dark primary-color-dark sticky-top scrolling-navbar">
  <logo>
    <a href="#" class="navbar-brand">Visualizer POC</a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" (click)="setCurrentView('updatePlan')" [routerLink]="['uploadPlan']" mdbRippleRadius>Upload Plan</a>
      </li>
      <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" (click)="setCurrentView('displayPlan')" [routerLink]="['displayPlan']" mdbRippleRadius>Weekly Plan</a>
      </li>
      <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" (click)="setCurrentView('playground')" [routerLink]="['playground']" mdbRippleRadius>Playground</a>
      </li>
      <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" (click)="setCurrentView('displayMap')" [routerLink]="['displayMap']" mdbRippleRadius>Map</a>
      </li>
      <li class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a class="nav-link disabled" >Detailed View</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
   <div class="m-t-0">
     <router-outlet [currentView]="currentView"></router-outlet>
   </div>
