<div>
  <label>Device Name</label>
  <input type="text"
         class="form-control"
         [(ngModel)]="deviceName">
  <button class="mat-button"
          (click)="setDeviceName(deviceName)">Create Device</button>
  <p>{{deviceCreationStatus}}</p>

  <button class="btn-danger"
          [disabled]="isEmpty(deviceName)"
          (click)="resetDeviceName()">x</button>
</div>
<hr>
<div>
  <label>Process Title</label>
  <input type="text"
         class="form-control"
         [(ngModel)]="processName">
  <button class="btn btn-primary"
          [disabled]="!allowNewProcess"
          (click)="onCreateProcess()">Add Process</button>
  <!--<p>{{processCreationStatus}}</p>-->
  <p *ngIf="!isEmpty(processCreationStatus); else noProcess">{{processCreationStatus}}</p>
  <ng-template #noProcess>
    <p>No new process data</p>
  </ng-template>
</div>

<app-server *ngFor="let process of processes"></app-server>
