input {
  color: white;
  margin: 5px;
}

pre {
  margin: 5px;
}

.alert {
  margin: 5px;
}

//#uploader::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//  background-color: #555;
//}
//
//#uploader::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//  border-radius: 10px;
//  background-color: transparent;
//}
