<div class="container">
  <div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
      <form [formGroup]="radioGroupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
          <label ngbButtonLabel class="btn btn-primary primary-color-dark">
            <input (click)="toggleAuth('login')" ngbButton type="radio" value="login"> Login
          </label>
          <label ngbButtonLabel class="btn btn-primary primary-color-dark">
            <input (click)="toggleAuth('register')" ngbButton type="radio" value="signUp"> Sign Up
          </label>
        </div>
      </form>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
    </div>
  </div>
  <div class="row">
    <app-login *ngIf="authView === 'login'" class="animated fadeInDown"></app-login>
    <app-signup *ngIf="authView === 'signUp'" class="animated fadeInDown"></app-signup>
  </div>
</div>
